@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  /* font-family: 'Lexend Deca', sans-serif; */
  background-color: hsl(233, 47%, 7%);
  color: white;
  font-size: 15px;
}

.container {
    display: grid;
    place-content: center;
    min-height: 100vh;

}

.card-container {
  position: relative;
  background-color: hsl(244, 38%, 16%);
  width: 80%;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.main-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.card-description {
  padding: 0 60px;
  width: 100%;
}

.card-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.card-img::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: hsla(277, 94%, 27%, 0.815);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 60%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main-title,
.main-description,
.description-end {
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}

.main-title {
  margin-top: 80px;
}

.main-description {
  margin-bottom: 100px;
}

.description-end {
  margin-top: 25px;
}

.main-title h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2.2rem;
  line-height: 1.05;
}

.main-title .title-part {
  color: hsl(277, 64%, 61%);
}

.main-description p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5;
}

.description-end {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.description-end .item-1 {
  color: hsl(0, 0, 100%);
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.description-end .item-2 {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 1200px) {
  .card-container {
    width: 85%;
  }
}

@media only screen and (max-width: 972px) {
  .card-container {
    width: 95%;
  }
}

@media screen and ( max-width: 800px) {
    
    /* body {
        font-size: 13px;
    } */
    
    .card-container {
        min-height: 90vh;
        width: 65%;
        margin: 5vh auto;
    }

    .main-card {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);
    }

    .card-img {
        order: 1;
        width: 100%;
    }

    .card-description {
        order: 2;
        width: 100%;
        padding: 0;
        text-align: center;
        padding: 1rem 0;
    }

    .main-title,
    .main-description,
    .description-end {
        margin: 2rem auto;
        width: 80%;
    }

    .main-title h1{
        font-size: 1.75rem;
    }

    .main-description {
        font-size: 15px;
        line-height: 1.5rem;
        margin-bottom: 30px;

    }

    .companies,
    .templates,
    .queries {
        font-size: 12px;
        line-height: 20px;
    }

    .templates {
        margin: 10px 0;
    }

    .description-end {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .item-2 {
        margin: 5px 0 15px;
    }

}

@media screen and ( max-width: 578px) {
  
  .card-container {
      width: 80%;
  }
}